

.foods_display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.header{
    display: flex;
    background-color: rgb(37, 33, 41);
    color: wheat;
    padding: 10px;
    flex-wrap: wrap;
}

.cart_button{
    background-color: violet;
    border-radius: 300px;
    color: white;
}